[[MinifyX?
	&minifyCss=`1`
	&registerCss=`1`
	&minifyJs=`1`
	&registerJs=`1`
	&jsSources=`
		[[++assets_url]]template/js/libs/jquery-input-mask-phone-number.js,
		[[++assets_url]]template/js/preloader.js
	`
]]
<script src="/assets/template/js/libs/jquery.magnific-popup.min.js" type="text/javascript"></script>
<script src="/assets/template/js/libs/jquery.sticky.js" type="text/javascript"></script>
<script src="/assets/template/js/popupcard.js" type="text/javascript"></script>
<script src="/assets/template/js/main.js" type="text/javascript"></script>
<link rel="stylesheet" href="/assets/template/css/magnific-popup.css" type="text/css">
<link rel="stylesheet" href="/assets/template/css/card.css" type="text/css">
<link rel="stylesheet" href="/assets/template/css/catalogitems.css" type="text/css">
<link rel="stylesheet" href="/assets/template/css/pagination.css" type="text/css">