[[MinifyX?
	&minifyCss=`1`
	&registerCss=`1`
	&cssSources=`
		[[++assets_url]]template/css/magnific-popup.css
	`
	&minifyJs=`1`
	&registerJs=`1`
	&jsSources=`
		[[++assets_url]]template/js/jquery.magnific-popup.min.js,
		[[++assets_url]]template/js/jquery-input-mask-phone-number.js,
		[[++assets_url]]template/js/preloader.js
	`
]]

<script src='/assets/template/js/main.js'></script>
<script src="/assets/template/js/callback.js"></script>
<script src="/assets/template/js/slider.js"></script>
<script src="/assets/template/js/preloader.js"></script>
<script src="/assets/template/js/burger.js"></script>
<script src="/assets/template/js/search.js"></script>
<script src='/assets/template/js/toup.js'></script>
<script src="/assets/template/js/basket.js"></script>
<script src="/assets/template/js/carouselitems.js"></script>
<script src="/assets/template/js/catalogitems.js"></script>
<script src="/assets/template/js/catalogmenu.js"></script>
<script src="/assets/template/js/productitem.js"></script>

<link rel="stylesheet" href="/assets/template/css/normalize.less.css" type="text/css">
<link rel="stylesheet" href="/assets/template/css/main.less.css" type="text/css">
<link rel="stylesheet" href="/assets/template/css/header.less.css" type="text/css">
<link rel="stylesheet" href="/assets/template/css/burger.css" type="text/css">
<link rel="stylesheet" href="/assets/template/css/toup.css" type="text/css">
<link rel="stylesheet" href="/assets/template/css/advantages.less.css" type="text/css">
<link rel="stylesheet" href="/assets/template/css/basket.less.css" type="text/css">
<link rel="stylesheet" href="/assets/template/css/callback.less.css" type="text/css">
<link rel="stylesheet" href="/assets/template/css/carouselitems.less.css" type="text/css">
<link rel="stylesheet" href="/assets/template/css/catalog.less.css" type="text/css">
<link rel="stylesheet" href="/assets/template/css/catalogitems.less.css" type="text/css">
<link rel="stylesheet" href="/assets/template/css/catalogmenu.less.css" type="text/css">
<link rel="stylesheet" href="/assets/template/css/favoriteitems.less.css" type="text/css">
<link rel="stylesheet" href="/assets/template/css/footer.less.css" type="text/css">
<link rel="stylesheet" href="/assets/template/css/getorder.less.css" type="text/css">
<link rel="stylesheet" href="/assets/template/css/howbuy.less.css" type="text/css">
<link rel="stylesheet" href="/assets/template/css/order.less.css" type="text/css">
<link rel="stylesheet" href="/assets/template/css/productitem.less.css" type="text/css">
<link rel="stylesheet" href="/assets/template/css/slider.less.css" type="text/css">
<link rel="stylesheet" href="/assets/template/css/article.less.css" type="text/css">
<link rel="stylesheet" href="/assets/template/css/card.less.css" type="text/css">