[[MinifyX?
	&minifyCss=`1`
	&registerCss=`1`
	&minifyJs=`1`
	&registerJs=`1`
	&jsSources=`
		[[++assets_url]]template/js/libs/jquery-input-mask-phone-number.js
	`
]]
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
<script src="/assets/template/js/libs/jquery.magnific-popup.min.js" type="text/javascript"></script>
<script src="/assets/template/js/contact_fix.js" type="text/javascript"></script>
<script src="/assets/template/js/map.js" type="text/javascript"></script>
<script src="/assets/template/js/popupcard.js" type="text/javascript"></script>
<script src="/assets/template/js/callback.js" type="text/javascript"></script>
<script src="/assets/template/js/main.js" type="text/javascript"></script>

<link rel="stylesheet" href="/assets/template/css/magnific-popup.css" type="text/css">
<link rel="stylesheet" href="/assets/template/css/index.css" type="text/css">