<div class="catalog__main_wrap">
    [[+pagetitle]]
    <div id="pdopage" class="pdopage">
        <div class="rows">
            [[!pdoPage?=
                &element=`msProducts`
                &parents=`[[*id:is=`5`:then=`7`:else=`[[+parentID:empty=`[[*id]]`:else=`7`]]`]]`
                &ajaxMode=`button`
                &limit=`15`
                &tpl = `CatalogItem`
                &where=`[[*id:is=`5`:then=`{"Data.old_price:>":"Data.price"}`]]`
            ]]
        </div>
        [[!+page.nav]]
    </div>
</div>
