<div class="catalog__main_item">
    <div class="main__item_img">
        [[!msGallery?
            &product = `[[+id]]`
            &limit = `3`
            &tpl=`CatalogGallery`
        ]]
    </div>
    <div class="main_item_prop">
        <div class="prop_square">
            <p>
                [[msOptions?options=`square`
                    &tpl=`ProductOptionsText`
                    &product=`[[+id]]`
                ]]
                <span>м2</span>
            </p>
        </div>
        <div class="prop_city">
            <p>
                [[msOptions?options=`city`
                    &tpl=`ProductOptionsText`
                    &product=`[[+id]]`
                ]]
            </p>
        </div>
    </div>
    <div class="main__item_title">
        <h2>[[+pagetitle]]</h2>
    </div>
    <div class="main__item_description">
        <p>[[+MetaDescription]]</p>
    </div>
    <div class="main__item_price">
        <div class="old_price">
            <p>[[+old_price]] <span>&euro;</span></p>
        </div>
        <div class="new_price">
            <p>[[+price]] <span>&euro;</span></p>
        </div>
    </div>
    <div class="main__item_link">
        <a href="#card_block" class="popup-btn nopreload" title='[[+pagetitle]]' id="house-[[+id]]" data-id="[[+id]]">Подробнее</a>
    </div>
</div>