<div class="header_mobile">
    <p class="title">Меню</p>
    <div class="burger_menu_button">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<header>
    <div class="container">
        <div class="header">
            <div class="header__left">
                <a href="http://gh-estate.ru" title="GH-ESTATE">
                    <p>GH-ESTATE</p>
                </a>
            </div>
            <div class="header__middle">
                <ul>
                    <li>
                        <a href="http://gh-estate.ru/o-kompanii" target="_blank">О компании</a>
                    </li>
                    <li>
                        <a href="http://gh-estate.ru/infrastruktura" target="_blank">Инфраструктура Гарды</a>
                    </li>
                    <li>
                        <a href="http://gh-estate.ru/kontakty" target="_blank">Контакты</a>
                    </li>
                </ul>
            </div>
            <div class="header__right">
                <div class="phone header__right_child" >
                    <a href="tel:+74951897309">+7 495 189-73-09</a>
                </div>
                <div class="callback header__right_child" >
                    <a href="#callback_popup" class="popup_btn">Заказать звонок</a>
                </div>
            </div>
        </div>
    </div>
</header>