<base href=[[++site_url]]>
<meta charset="UTF-8">
<title>[[*longtitle:empty=`[[*pagetitle]]`:else=`[[*longtitle]]`]]</title>
<meta name="keywords" content="[[*MetaKey]]">
<meta name="description" content="[[*longtitle:empty=`[[*pagetitle]]`:else=`[[*longtitle]]`]]">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta property="og:title" content="[[*MetaTitle]]">
<meta property="og:description" content="[[*longtitle:empty=`[[*pagetitle]]`:else=`[[*longtitle]]`]]">
<meta property="og:type" content="Product">
<meta property="og:image" content="/assets/template/images/logo.png">
<meta property="og:url" content="[[++site_url]]">