<link rel="stylesheet" href="../css/mfilter.less">
<div class="msearch2" id="mse2_mfilter">
    <div class="catalog_filter">
        <div class="filter">
            <form action="[[~[[*id]]]]" method="post" id="mse2_filters">
                [[+filters]]
                <div id="mse2_sort" class="">
                    <p class="total_result">[[%mse2_filter_total]] <span id="mse2_total">[[+total:default=`0`]]</span></p>
                    <button type="reset" class="filter_reset btn btn-default hidden">Сбросить фильтр</button>
                </div>
            </form>
        </div>
    </div>
    <div  class="pdopage">
        <div class="rows"  id="mse2_results" >
            [[+results]]
        </div>

        <div class="mse2_pagination">
            [[!+page.nav]]
        </div>
    </div>
</div>
