    [[$ToUp]]
	<div class="callback_popup mfp-hide" id="callback_popup">
		<img src="/assets/template/images/Logo.png" alt="GH ESTATE">
		<p class="title">Задайте вопрос</p>
		<p>Профессиональный риелтор Пина Осман расскажет вам о Гарде</p>
		[[$Callback]]
		<div class="policy">Заполняя форму, вы <a href="http://gh-estate.ru/consent" target="_blank">соглашаетесь</a> на обработку персональных данных в соответствии с <a href="http://gh-estate.ru/policy" target="_blank">политикой конфиденциальности</a></div>
	</div>
	[[$AssetsLoad]]
	</body>
</html>