
//-------------------------------------------------------------------------//
// Product Item //  
//-------------------------------------------------------------------------//

.mfp-content {
  max-width: 90%;  
}
.card_popup {
  .animation();
  opacity: 0;
}

.product#msProduct {
  background: @colorWhite;
  margin: 20px auto;
  
  & .container_popup {
    max-width: 100%;
  }
  
  & .close_button_popup {
    position: fixed;
    right: 35px;
    cursor: pointer;
    
    & img {
      .animation();
      height: 30px;
      width: 30px;
      
      &:hover {
        transform: scale(1.2, 1.2);
      }
    }
  }
  & .product__item {
    padding: 20px 0;

    & .product__item_wrap {

      & .product__item_top {
        .flex();
        justify-content: space-beetwen;
        margin-bottom: 20px;
        

        & .item_top_left {
          .cols(14);

          & h2 {
            font-size: 20pt;
            text-transform: uppercase;
            border-bottom: 2px solid @colorBlue;
            display: table;
            font-weight: 100;
            margin-bottom: 10px;
            padding-bottom: 4px;
          }

          & p {
            font-size: 14pt;
          }
        }

        & .item_top_right {
          .cols(2);

          & p {
            text-align: right;
            font-size: 14pt;
            
            &:first-child {
              margin-bottom: 10px;
              padding-bottom: 6px;
            }
          }
        }
      }

      & .product__item_img {
        margin: 20px 0;

        & .msGallery {
          .flex();
          align-items: center;
          
          & .fotorama__nav__frame {

            & .fotorama__dot {
              border: 2px solid @colorBlue;
              width: 10px;
              height: 10px;
              position: relative;
              top: 10px;
              left: 4px;
              border-radius: 6px;
            }
            
            &.fotorama__active {
              & .fotorama__dot {
                background: @colorBlue;
              }
            }            
          }          
        }
      }

      & .product__item_content {
        .flex();
        justify-content: space-between;

        & .item_content_left {
          .cols(10);

          & .item_content_description {

            & p, li {
              font-size: 12pt;
              line-height: 1.4em;
              margin-bottom: 10px;
            }
            & h2, h3, h4 {
              font-size: 14pt;
              text-transform: uppercase;
              border-bottom: 2px solid @colorBlack;
              font-weight: 100;
              margin-bottom: 14px;
              padding-bottom: 4px;
            }
          }

          & .item_content_tech {
            margin: 20px 0;
            
            & h3 {
              font-size: 14pt;
              text-transform: uppercase;
              border-bottom: 2px solid @colorBlack;
              font-weight: 100;
              margin-bottom: 14px;
              padding-bottom: 4px;              
            }

            & img {

            }
          }

          & .item_content_maps {
            margin: 20px 0;

            & h3 {
              font-size: 14pt;
              text-transform: uppercase;
              border-bottom: 2px solid @colorBlack;
              font-weight: 100;
              margin-bottom: 14px;
              padding-bottom: 4px;
            }

          }
        }

        & .item_content_right {
          .cols(5.5);

          & .sticky_block {
            position: relative;
            top: 10px;
            
            &.fixed {
              position: fixed;
              top: 10px;
            }

            & .item_content_contact {
              background: @colorBlue;
              padding: 20px;
              box-shadow: 5px 5px 30px -5px @colorBlack;
              max-width: 390px;

              & h3 {
                font-size: 14pt;
                text-transform: uppercase;
                border-bottom: 2px solid @colorBlack;
                font-weight: 100;
                margin-bottom: 14px;
                padding-bottom: 4px;
              }

              & .item_content_price {
                .flex();
                justify-content: space-between;
                margin: 20px 0;
                
                & p {
                  font-size: 14pt;
                  position: relative;
                  
                  &.new_price {

                  }
                  
                  &.old_price {
                    color: @colorRed;
                    text-decoration: none;
                    text-align: right;
                    display: table;
                    
                    &:before {
                      background: @colorRed;
                      content: '';
                      position: absolute;
                      top: 45%;
                      width: 100%;
                      transform: rotate(-5deg);
                      height: 2px;
                    }

                  }
                  
                }

              }

              & .item_content_form {
                margin: 20px 0;

                & form {

                  & input {
                    color: @colorBlack;
                    border: 0;
                    padding: 14px;
                    width: 100%;
                    margin: 0 0 10px 0;
                    border-radius: 5px;
                    font-size: 11pt;
                  }

                  & button {
                    .animation();
                    background: @colorRed;
                    color: @colorWhite;
                    padding: 10px 25px 8px;
                    display: table;
                    margin: 0 auto;
                    font-size: 13pt;
                    border: 0;
                    border-radius: 5px;
                    text-transform: uppercase;
                    cursor: pointer;

                    &:hover {
                      background: @colorBlack;
                      color: @colorWhite;
                    }

                  }
                }
              }

              & .item_content_messenger {
                
                & .title {
                  font-size: 12pt;
                }
              }
            }
          }
        }
      }
    }
  }
}