.container {
  padding: 0 15px;
  margin: 0 auto;
}
.container-max {
  width: 100%;
}
@media only screen and (min-width: 1440px) {
  .container {
    width: 1170px;
  }
}
@media only screen and (min-width: 1200px)and (max-width: 1439px) {
  .container {
    width: 1170px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .container {
    width: 992px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 768px;
  }
}
@media only screen and (max-width: 767px) {
  .container {
    width: 100%;
  }
}
.mfp-content {
  max-width: 90%;
}
.card_popup {
  transition: all 0.4s linear;
  opacity: 0;
}
.product#msProduct {
  background: #ffffff;
  margin: 20px auto;
}
.product#msProduct .container_popup {
  max-width: 100%;
}
.product#msProduct .product__item {
  padding: 20px 0;
}
.product#msProduct .product__item .product__item_wrap .product__item_top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-beetwen;
  margin-bottom: 20px;
}
.product#msProduct .product__item .product__item_wrap .product__item_top .item_top_left {
  width: 87.5%;
}
.product#msProduct .product__item .product__item_wrap .product__item_top .item_top_left h2 {
  font-size: 20pt;
  text-transform: uppercase;
  border-bottom: 2px solid #53d3c1;
  display: table;
  font-weight: 100;
  margin-bottom: 10px;
  padding-bottom: 4px;
}
.product#msProduct .product__item .product__item_wrap .product__item_top .item_top_left p {
  font-size: 14pt;
}
.product#msProduct .product__item .product__item_wrap .product__item_top .item_top_right {
  width: 12.5%;
}
.product#msProduct .product__item .product__item_wrap .product__item_top .item_top_right p {
  text-align: right;
  font-size: 14pt;
}
.product#msProduct .product__item .product__item_wrap .product__item_top .item_top_right p:first-child {
  margin-bottom: 10px;
  padding-bottom: 6px;
}
.product#msProduct .product__item .product__item_wrap .product__item_img {
  margin: 20px 0;
}
.product#msProduct .product__item .product__item_wrap .product__item_img .msGallery {
  display: flex;
  flex-wrap: wrap;
  max-height: 420px;
  overflow: hidden;
  align-items: center;
}
.product#msProduct .product__item .product__item_wrap .product__item_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.product#msProduct .product__item .product__item_wrap .product__item_content .item_content_left {
  width: 62.5%;
}
.product#msProduct .product__item .product__item_wrap .product__item_content .item_content_left .item_content_description p,
.product#msProduct .product__item .product__item_wrap .product__item_content .item_content_left .item_content_description li {
  font-size: 12pt;
  line-height: 1.4em;
  margin-bottom: 10px;
}
.product#msProduct .product__item .product__item_wrap .product__item_content .item_content_left .item_content_description h2,
.product#msProduct .product__item .product__item_wrap .product__item_content .item_content_left .item_content_description h3,
.product#msProduct .product__item .product__item_wrap .product__item_content .item_content_left .item_content_description h4 {
  font-size: 14pt;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.product#msProduct .product__item .product__item_wrap .product__item_content .item_content_right {
  width: 34.375%;
}
.product#msProduct .product__item .product__item_wrap .product__item_content .item_content_right .sticky_block .item_content_contact {
  background: #53d3c1;
  padding: 20px;
  box-shadow: 5px 5px 30px -5px #000000;
}
.product#msProduct .product__item .product__item_wrap .product__item_content .item_content_right .sticky_block .item_content_contact h3 {
  font-size: 14pt;
  text-transform: uppercase;
  border-bottom: 2px solid #000000;
  font-weight: 100;
  margin-bottom: 14px;
  padding-bottom: 4px;
}
.product#msProduct .product__item .product__item_wrap .product__item_content .item_content_right .sticky_block .item_content_contact .item_content_price {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0;
}
.product#msProduct .product__item .product__item_wrap .product__item_content .item_content_right .sticky_block .item_content_contact .item_content_price p {
  font-size: 14pt;
  position: relative;
}
.product#msProduct .product__item .product__item_wrap .product__item_content .item_content_right .sticky_block .item_content_contact .item_content_price p.old_price {
  color: #f00f00;
  text-decoration: none;
  text-align: right;
  display: table;
}
.product#msProduct .product__item .product__item_wrap .product__item_content .item_content_right .sticky_block .item_content_contact .item_content_price p.old_price:before {
  background: #f00f00;
  content: '';
  position: absolute;
  top: 45%;
  width: 100%;
  transform: rotate(-5deg);
  height: 2px;
}
.product#msProduct .product__item .product__item_wrap .product__item_content .item_content_right .sticky_block .item_content_contact .item_content_form {
  margin: 20px 0;
}
.product#msProduct .product__item .product__item_wrap .product__item_content .item_content_right .sticky_block .item_content_contact .item_content_form form input {
  color: #000000;
  border: 0;
  padding: 14px;
  width: 100%;
  margin: 0 0 10px 0;
  border-radius: 20px;
  font-size: 11pt;
}
.product#msProduct .product__item .product__item_wrap .product__item_content .item_content_right .sticky_block .item_content_contact .item_content_form form button {
  transition: all 0.4s linear;
  background: #f00f00;
  color: #ffffff;
  padding: 10px 25px 8px;
  display: table;
  margin: 0 auto;
  font-size: 13pt;
  border: 0;
  border-radius: 20px;
  text-transform: uppercase;
  cursor: pointer;
}
.product#msProduct .product__item .product__item_wrap .product__item_content .item_content_right .sticky_block .item_content_contact .item_content_form form button:hover {
  background: #000000;
  color: #ffffff;
}
.product#msProduct .product__item .product__item_wrap .product__item_content .item_content_right .sticky_block .item_content_contact .item_content_messenger .title {
  font-size: 12pt;
}
