
//-------------------------------------------------------------------------//
    // Catalog Items //
//-------------------------------------------------------------------------//
& .catalog__main_wrap { 

  & #pdopage {

    & .rows {
      .flex();
      .animation();
      justify-content: space-between;     
    }
  }

  & .catalog__main_item {
      .cols(5);
      border: 2px solid @colorBlue;
      padding: 5px 10px;
      margin: 10px 0;

    & .main__item_img {

      & a {

        & img {
          max-width: 100%;
        }
      }
    }

    & .main_item_prop {
      .flex();
      justify-content: space-between;
      margin: 10px 0;

      & .prop_square {
        .cols(8);
        
        & p {
          text-align: left;
          font-size: 12pt;
        }
      }

      & .prop_city {
        .cols(8);

        & p {
          text-align: right;
          font-size: 12pt;
        }
      }
    }

    & .main__item_title {
      margin-bottom: 10px;

      & h2 {
        font-size: 13pt;
        text-transform: uppercase;
        font-weight: 100;
      }
    }

    & .main__item_description {

      & p {
        font-size: 11pt;
      }

    }

    & .main__item_price {
      .flex();
      justify-content: space-between;
      margin: 10px 0;

      & .old_price {
        .cols(8);

        & p {
          color: @colorRed;
          position: relative;
          text-align: left;
          font-size: 14pt;
          display: table;
          
          &:before {
            background: @colorRed;
            content: '';
            position: absolute;
            top: 45%;
            width: 100%;
            transform: rotate(-5deg);
            height: 2px;
          }
        }
      }

      & .new_price {
        .cols(8);

        & p {
          text-align: right;
          font-size: 14pt;
        }
      }
    }

    & .main__item_link {
      margin: 10px 0;

      & a {
        .animation();
        background: @colorBlue;
        color: @colorWhite;
        padding: 10px 25px 7px;
        display: table;
        margin: 0 auto;
        font-size: 12pt;
        border-radius: 20px;
        text-transform: uppercase;

        &:hover {
          background: @colorBlack;
          color: @colorBlue;
        }
      }
    }
  }
}