html {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  outline: none;
}
html {
  height: 101%;
  margin: 0 !important;
}
/* always display scrollbars */
body {
  font-size: 62.5%;
  line-height: 1.2em;
  font-family: sans-serif;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
input {
  outline: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  border: 0;
  max-width: 100%;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a,
b,
p,
span,
h1,
h2,
h3,
h4,
h5,
li,
td {
  letter-spacing: 0;
  line-height: 1.4em;
}
h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2em;
}
*:focus,
*:hover,
*:active,
a:focus {
  outline: 0;
  text-decoration: none;
}
s {
  text-decoration: line-through;
}
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
}
a:focus {
  background: transparent;
  outline: 0;
}
a:active {
  background: transparent;
  outline: 0;
}
a:visited {
  background: transparent;
  outline: 0;
}
html {
  font-size: 10pt;
}
.container {
  padding: 0 15px;
  margin: 0 auto;
}
.container-max {
  width: 100%;
}
@media only screen and (min-width: 1440px) {
  .container {
    width: 1170px;
  }
}
@media only screen and (min-width: 1200px)and (max-width: 1439px) {
  .container {
    width: 1170px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .container {
    width: 992px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 768px;
  }
}
@media only screen and (max-width: 767px) {
  .container {
    width: 100%;
  }
}
.catalog__main_wrap #pdopage .rows {
  display: flex;
  flex-wrap: wrap;
  transition: all 0.4s linear;
  justify-content: space-between;
}
.catalog__main_wrap .catalog__main_item {
  width: 31.25%;
  border: 2px solid #53d3c1;
  padding: 5px 10px;
  margin: 10px 0;
}
.catalog__main_wrap .catalog__main_item .main__item_img a img {
  max-width: 100%;
}
.catalog__main_wrap .catalog__main_item .main_item_prop {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px 0;
}
.catalog__main_wrap .catalog__main_item .main_item_prop .prop_square {
  width: 50%;
}
.catalog__main_wrap .catalog__main_item .main_item_prop .prop_square p {
  text-align: left;
  font-size: 12pt;
}
.catalog__main_wrap .catalog__main_item .main_item_prop .prop_city {
  width: 50%;
}
.catalog__main_wrap .catalog__main_item .main_item_prop .prop_city p {
  text-align: right;
  font-size: 12pt;
}
.catalog__main_wrap .catalog__main_item .main__item_title {
  margin-bottom: 10px;
}
.catalog__main_wrap .catalog__main_item .main__item_title h2 {
  font-size: 13pt;
  text-transform: uppercase;
}
.catalog__main_wrap .catalog__main_item .main__item_description p {
  font-size: 11pt;
}
.catalog__main_wrap .catalog__main_item .main__item_price {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px 0;
}
.catalog__main_wrap .catalog__main_item .main__item_price .old_price {
  width: 50%;
}
.catalog__main_wrap .catalog__main_item .main__item_price .old_price p {
  color: #f00f00;
  position: relative;
  text-align: left;
  font-size: 14pt;
  display: table;
}
.catalog__main_wrap .catalog__main_item .main__item_price .old_price p:before {
  background: #f00f00;
  content: '';
  position: absolute;
  top: 45%;
  width: 100%;
  transform: rotate(-5deg);
  height: 2px;
}
.catalog__main_wrap .catalog__main_item .main__item_price .new_price {
  width: 50%;
}
.catalog__main_wrap .catalog__main_item .main__item_price .new_price p {
  text-align: right;
  font-size: 14pt;
}
.catalog__main_wrap .catalog__main_item .main__item_link {
  margin: 10px 0;
}
.catalog__main_wrap .catalog__main_item .main__item_link a {
  transition: all 0.4s linear;
  background: #53d3c1;
  color: #ffffff;
  padding: 10px 25px 5px;
  display: table;
  margin: 0 auto;
  font-size: 12pt;
  border-radius: 20px;
  text-transform: uppercase;
}
.catalog__main_wrap .catalog__main_item .main__item_link a:hover {
  background: #000000;
  color: #53d3c1;
}
