[[$StartPage]]
[[$Header]]
<main>
    <div class="catalog card">
        <div class="container">
            <div class="catalog__wrap card__wrap">
                <div class="catalog__left">
                    <div class="catalog__menu_backlink">
                        <a href="/">[[!IncSvg? &svg=`elements/arrow.svg`]] <span>на главную</span></a>
                    </div>
                    [[$CatalogMenu]]
                </div>
                <div class="card__main">
                    <div class="card__main_top">
                        <div class="card__main_title">
                            <h1>[[*pagetitle]]</h1>
                        </div>
                        <div class="card__main_filter">

                        </div>
                    </div>
                    <div class="card__main_bottom">
                        [[$ProductItem]]
                    </div>
                </div>
            </div>
        </div>
        <div class="favorites">
            [[$FavoriteItems]]
        </div>
    </div>
    [[$HowBuy]]
    [[$Callback]]
</main>


[[$Footer]]
[[$StopPage]]